bin/
obj/
obj/staticwebassets.pack.sentinel
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/DapperApi.AssemblyInfo.cs
obj/Debug/net6.0/DapperApi.AssemblyInfoInputs.cache
obj/Debug/net6.0/DapperApi.assets.cache
obj/Debug/net6.0/DapperApi.csproj.AssemblyReference.cache
obj/Debug/net6.0/DapperApi.csproj.CopyComplete
obj/Debug/net6.0/DapperApi.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/DapperApi.csproj.FileListAbsolute.txt
obj/Debug/net6.0/DapperApi.dll
obj/Debug/net6.0/DapperApi.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/DapperApi.genruntimeconfig.cache
obj/Debug/net6.0/DapperApi.GlobalUsings.g.cs
obj/Debug/net6.0/DapperApi.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net6.0/DapperApi.MvcApplicationPartsAssemblyInfo.cs
obj/Debug/net6.0/DapperApi.pdb
obj/Debug/net6.0/project.razor.json
obj/Debug/net6.0/staticwebassets.build.json
obj/Debug/net6.0/ref/DapperApi.dll
obj/Debug/net6.0/refint/DapperApi.dll
bin/Debug/net6.0/appsettings.Development.json
bin/Debug/net6.0/appsettings.json
bin/Debug/net6.0/Azure.Core.dll
bin/Debug/net6.0/Azure.Identity.dll
bin/Debug/net6.0/Dapper.dll
bin/Debug/net6.0/DapperApi.deps.json
bin/Debug/net6.0/DapperApi.dll
bin/Debug/net6.0/DapperApi.exe
bin/Debug/net6.0/DapperApi.pdb
bin/Debug/net6.0/DapperApi.runtimeconfig.json
bin/Debug/net6.0/Microsoft.Bcl.AsyncInterfaces.dll
bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
bin/Debug/net6.0/Microsoft.Identity.Client.dll
bin/Debug/net6.0/Microsoft.Identity.Client.Extensions.Msal.dll
bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
bin/Debug/net6.0/Microsoft.OpenApi.dll
bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
bin/Debug/net6.0/System.Drawing.Common.dll
bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
bin/Debug/net6.0/System.Runtime.Caching.dll
bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/net6.0/System.Security.Permissions.dll
bin/Debug/net6.0/System.Windows.Extensions.dll
bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/obj/Release/net6.0
